*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* Fjerner linjen under a tags */

a {
    text-decoration: none;
    color: black;
}

/* Fonte */

@font-face {
    font-family: 'cloister_blacklight';
    src: url('font/cloisterblack-webfont.woff2') format('woff2'),
        url('font/cloisterblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* vores splashbillede bliver sat øverst, som et "cover" */

#splash {
    max-width: none;
    background-image: url(images/splash.jpg);
    width: 100vw;
    height: 40vh;
    background-size: cover;
    background-position: 50% 40%;
    margin-top: -1vw;
}

/* Ligger menu punkterne i midten/center */

#menu {
    display: flex;
    justify-content: center;
}

/* Styling på bodyen og menuen */

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    --def: #96B7C4;
    --inv: #fff;
    background: black;
}

/* MENU */

/* Styling og effekter på knapperne */

.btn {
    margin-top: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
    position: relative;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    color: var(--inv);
    letter-spacing: 1.1rem;
    /* Gør at stregerne og kassen over teksten slider ind som en smooth transition */
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    font-family: 'cloister_blacklight';
    font-weight: lighter;
    font-size: 5rem;
    margin-bottom: 2vw;
    letter-spacing: 0;
}

.btn:before,
.btn:after {
    /* Gør at stregerne og kassen over teksten bliver vist i menuen */
    content: '';
    position: absolute;

    /* Gør også at stregerne og kassen over teksten laver en animering, uden den bliver stregerne og kassen bare vist med det samme */
    transition: inherit;

    /* Gør at man kan klikke på det valgte lag i menuen og at teksten i sort bliver vist når den hvide boks kommer over*/
    z-index: -1;
}

/* Gør at transitionen/animeringen sker ved at der er en mus på menuen, altså hover */

.btn:hover {
    color: black;
    transition-delay: .4s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: rgb(200, 200, 200);
    transition-delay: .4s;
}

/* From Middle knap styling og effekt */

.from-middle:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-middle:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--inv);
}

.from-middle:hover:before {
    left: 0;
    width: 100%;
}

.from-middle:hover:after {
    top: 0;
    height: 100%;
}

/* From Left knap styling og effekt */

.from-left:before,
.from-left:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-left:before {
    right: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-left:after {
    left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
    width: 100%;
}

/* From Right knap styling og effekt */

.from-right:before,
.from-right:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-right:before {
    left: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-right:after {
    right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
    width: 100%;
}

/* BURGER MENU */

/* Styling af burgermenuen*/

#menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;

    /* Gør at man kan klikke på det valgte lag i burgermenuen, i dette tilfælde ville det nok være checkboxen. Skifter man nummeret til 2 fx, så ville man klikke på en af stregerne og ikke hele boxen */
    z-index: 1;
}

#menuToggle a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #D9B95B;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;

    /* Gør at checkboxen ikke er synlig */
    opacity: 0;

    /* Gør at man kan klikke på det valgte lag i burgermenuen, i dette tilfælde ville det nok være checkboxen. Skifter man nummeret til 1 fx, så ville man klikke på en af stregerne og ikke hele boxen */
    z-index: 2;
}

/* Span er de tre streger i burgermenuen, en span for hver streg */

#menuToggle span {
    display: block;
    /* størrelse på burgermenuen */
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;

    /* Ligger 'checkbox' yderst så det er den man klikker på, istedet for striberne */
    z-index: 1;

    /* Gør to ud af de tre streger der er bliver lavet som et X */
    transform-origin: 4px 0px;

    /* Laver animationen til når man klikker på burgermenuen, ellers skifter den bare fra 3 streger til et X uden animation */
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}


/* Gjorde visuelt ikke nogen forskel og burgermenuen virkede stadig, men den var med fra den originale kode */
/*#menuToggle span:first-child {
    transform-origin: 0% 0%;
}*/

/* Gør at stregerne til X'et ligger ordenligt som et X */
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* Ligger den ene streg til at være et kryds og gør den sort */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black;
}

/* Gemmer den midterste streg */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/* Ligger den anden streg til at være et kryds */
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#burger {
    position: fixed;

    /* Størrelse på burgermenuen når den er klikket på og bliver 'pakket' ud */
    width: 150vw;
    height: 150vh;
    margin: -22vw 0 0 -85vw;
    padding: 35vw;
    padding-top: 125px;
    background: rgb(200, 200, 200);
    list-style-type: none;

    /* Gemmer menuen når den ikke er klikket på */
    transform-origin: 0% 0%;

    /* Gør at burgermenuen kommer ind fra højre side med en animation */
    transform: translate(100%, 0);

    /* Laver animationen så den laver en smooth transition når den kommer ind på skærmen */
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}


/* Gjorde visuelt ikke nogen forskel og burgermenuen virkede stadig, men den var med fra den originale kode */
/*#burger:target {
    display: block;
}*/


/* Valg af font osv til burgermenuen */
#burger li {
    padding-top: 10vw;
    padding-bottom: 0;
    font-size: 4rem;
    font-family: 'cloister_blacklight';
    font-weight: lighter;
}

/* Gør at burgermenuen kommer frem fra siden, når logo'et er blevet klikket på */
#menuToggle input:checked ~ ul {
    transform: none;
}

/* FORSIDE */


/* Valg af størrelse af videoen */
video {
    width: 80vw;
    height: auto;
}


/* Ligger videoen i midten */
.intro {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


/* Ligger Laura's instagram billeder i et grid med 4 kolonner, bliver så skiftet til to kolonner ved en bredde fra 600px og mindre på en skærm */
.feed {
    display: grid;
    justify-content: center;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    grid-gap: 2vw;
}

/* Gør at billederne ligger i samme størrelse kasser */
.feed {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3vw;
    margin-bottom: 3vw;
}


/* Størrelse af billederne */
.feedPic {
    max-width: 20vw;
    max-height: 50vh;
    margin: 1vw;
}

.more h2 {
    color: white;
    text-align: center;
    font-family: 'cloister_blacklight';
    font-weight: lighter;
    font-size: 4rem;
}


/* Styling på knappen under billederne, som linker videre til hendes instagram*/
.moreInstagram {
    font-size: 2rem;
    background-color: #D9B95B;
    width: 40vw;
    padding: 1vw;
}

.moreInstagram:hover {
    border: solid rgb(200, 200, 200) 2px;
    color: white;
    background-color: black;
}


/* Ligger knappen i midten */
.buttonInstagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vw;
}

/* OM */

/*Gør at alt flexer på siden og styling */
#aboutMe {
    display: flex;
    flex-direction: column;
}

#aboutMe .box1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    margin-right: 15vw;
    margin-left: 15vw;
}

#aboutMe .box2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    flex-grow: 1;
    margin-right: 15vw;
    margin-left: 15vw;
}

#aboutMe h1 {
    color: #D9B95B;
    font-size: 4rem;
    font-family: 'cloister_blacklight';
    font-weight: lighter;
    margin-top: 0;
    font-weight: lighter;
    margin-left: 1vw;
}

#laura {
    width: 30vw;
    margin-right: 1vw;
}

#laura2 {
    width: 30vw;
    margin-left: 1vw;
    margin-top: -15vw;
    margin-bottom: 5vw;
}

#txtMe p {
    color: white;
    font-size: 1.5rem;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    margin-left: 1vw;
}

#txtMe2 p {
    color: white;
    font-size: 1.5rem;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    margin-right: 1vw;
}

/* SHOP */


/* Hover effekt på hver tegning */
.container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;

    /* Gør at boksen med teksten "view" og billedet som bliver mørkere laver en smooth transition*/
    transition: .5s ease;
}

.bottom {

    /* Gør at tekst boksen laver en smooth transition */
    transition: .5s ease;

    /* Gør at man først kan se boksen med teksten når man hover */
    opacity: 0;
    position: absolute;
    bottom: -1vw;
    left: 50%;

    /* Gør at boksen ligger sig i midten */
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}


/* Hover effekten som gør at billedet bliver mørkere når man har sin mus over */
.container:hover .image {
    opacity: 0.3;
}

/* Hover effekten som gør at boksen med teksten bliver vist når man haar en mus over */
.container:hover .bottom {
    opacity: 1;
}


/* Styling at "view" boksen */
.text {
    background-color: rgb(200, 200, 200);
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 1vw;
}

/* Den valgte filtrering får en guldagtid farve */
.valgt {
    background-color: #D9B95B;
}

/* Styling på "dropdown" menuen */
.dropbtn {
    color: white;
    background: black;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
}

.dropdown1 {
    border: solid rgb(200, 200, 200) 2px;
    color: black;
    position: relative;
    display: inline-block;
    margin-right: 1vw;
}

.dropdown2 {
    border: solid rgb(200, 200, 200) 2px;
    color: black;
    position: relative;
    display: inline-block;
    margin-left: 1vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 10vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    /* Gør at der bliver klikket på det valgte lag */
    z-index: 1;
    font-size: 1.5rem;
}

/* Giver en hover effekt som gør at knapperne skifter farve */
.dropbtn:hover {
    color: black;
}

.dropdown-content a {
    color: black;
    padding: 1vw 2vw;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown1:hover .dropdown-content {
    display: block;
}

.dropdown1:hover .dropbtn {
    background-color: #D9B95B;
}

.dropdown2:hover .dropdown-content {
    display: block;
}

.dropdown2:hover .dropbtn {
    background-color: #D9B95B;
}

button:hover {
    background-color: #D9B95B;
}

button {
    width: 10vw;
    border: none;
    cursor: pointer;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

/* Placering af filter menuen på siden */
.filterMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 13vw;
}

/* Styling af infoen hentet fra wordpress */
.titel {
    margin-top: -1vw;
    color: #D9B95B;
    font-size: 2.5rem;
    font-family: 'cloister_blacklight';
    font-weight: lighter;
    padding-left: 2.2vw;
    margin-bottom: 1.5vw;
}

.pris {
    margin-top: -1vw;
    color: white;
    font-size: 1.5rem;
    font-family: 'KoHo', sans-serif;
    padding-left: 2.2vw;
}

.size {
    margin-top: -1vw;
    color: white;
    font-size: 1.5rem;
    font-family: 'KoHo', sans-serif;
    padding-left: 2.2vw;
}

/* Ligger tegninger i et grid med 4 kolonner som bliver til 1 kolonne i mobil versionen */
.tegninger {
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-template-rows: 10vw 10vw;
    grid-gap: 6vw;
    margin-top: 14vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.billede img {
    width: 50vw;
    height: 100vh;
}

.billede {
    padding: 2vw;
}

/* Gør at man kan se at man kan klikke på tegningerne og gør at de kan flexe */
.tegninger {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3vw;
}

.kategori {
    flex-basis: 300px;
    margin: 0;
}

.drawingTxt {
    margin-left: 15vw;
    margin-bottom: -6.5vw;
}

.drawingTxt h2 {
    color: white;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

/* SINGLEVIEW */


/* Styling på "buy" knappen */
.buy {
    margin-top: 3vw;
    margin-left: 2vw;
    color: white;
    background: black;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    border: solid rgb(200, 200, 200) 2px;
}

.buy:hover {
    color: black;
}

/* Single view delen */

/* Ligger alt infoen i midten */
#detalje {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#detalje h3 {
    color: white;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 2vw;
    margin-right: -2vw;
}

/* Styling af "back" knappen */
#detalje .luk {
    margin-top: 3vw;
    color: white;
    background: black;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 2vw;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    border: solid rgb(200, 200, 200) 2px;
}

#detalje .luk:hover {
    background: #D9B95B;
    color: black;
}

#detalje .tegning {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 60vw;
    padding: 2rem;
}

.box1 {
    flex-basis: 600px;
}

.box2 {
    margin-top: 3vw;
    flex-basis: 300px;
}

/* FOOTER */

/* Ligger infoen i midten */
#info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#info h3 {
    font-family: 'cloister_blacklight';
    font-weight: lighter;
    font-size: 2rem;
    margin-top: 1vw;
    margin-bottom: 0;
}

/* Størrelse af footeren */
footer {
    left: 0;
    bottom: 0;
    max-width: none;
    height: 30vh;
    width: 100%;
    background: rgb(200, 200, 200);
}

#logo {
    width: 25%;
}

#instagram {
    align-content: center;
    flex-basis: 300px;
    margin-right: -5vw;
    margin-left: 5vw;
    margin-top: 3vw;
}

#location {
    flex-basis: 300px;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1.7vw;

}

#location p {
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

#openingHours {
    flex-basis: 300px;
    margin-left: -5vw;
    margin-top: 1.7vw;
}

#openingHours p {
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

/* MEDIA QUERYS*/

/* Gør at burger menuen ikke bliver vist i web versionen */
@media only screen and (min-width: 1200px) {
    #menuToggle {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {

    .filterMenu {
        justify-content: center;
        margin-right: 0;
    }

    #menu {
        display: none;
    }

    #splash {
        background-image: url(images/mobile.jpg);
    }

    #burger {
        margin: -22vw 0 0 -90vw;
        padding: 40vw;
    }

    #burger li {
        padding-top: 5vw;
        padding-bottom: 0;
        font-size: 6rem;
        font-family: 'cloister_blacklight';
        font-weight: lighter;
    }

    footer {
        height: 20vh;
    }

    #logo {
        width: 25%;
    }

    #instagram {
        margin-right: -20vw;
        margin-left: 2vw;
    }

    #info {
        flex-wrap: nowrap;
    }

    #laura {
        margin-top: 10vw;
        margin-bottom: 5vw;
    }

    #txtMe h1 {
        margin-top: 5vw;
        text-align: center;
    }

    #txtMe {
        margin-left: 0;
        margin-right: 0;
    }

    #aboutMe .box1 {
        flex-wrap: wrap;
    }

    #aboutMe .box2 {
        flex-wrap: wrap;
    }

    #laura {
        margin-top: 5vw;
        margin-bottom: 0;
        width: 60vw;
    }

    #laura2 {
        width: 60vw;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .dropbtn {
        padding-right: 0.5vw;
        padding-left: 0.5vw;
        padding-bottom: 1vw;
        padding-top: 1vw;
    }

    button {
        width: 30vw;
    }

    .dropdown1 {
        margin-top: 5vw;
    }

    .dropdown2 {
        margin-top: 5vw;
    }

    .drawingTxt {
        margin: 0;
        text-align: center;
    }

    .billede {
        margin: 0;
        width: 60vw;
        padding: 0vw;
    }

    .tegning {
        margin: 0;
    }

    #detalje .tegning {
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10vw;
        width: 80vw;
    }

    .box2 {
        flex-basis: 600px;
    }

}

/* Styling og gør forskellige ting responsivt med mobil versionen */
@media only screen and (max-width: 600px) {

    /* Gør at menuen ikke bliver vist i mobil versionen */
    #menu {
        display: none;
    }

    #detalje {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 15vw;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    #detalje .tegning {
        margin: 0;
        padding: 0;
        width: 80vw;
    }

    #burger {
        margin: -25vw 0 0 -90vw;
    }

    video {
        width: 100vw;
    }

    #info {
        flex-wrap: wrap;
    }

    #burger li {
        padding-top: 0;
        padding-bottom: 3vw;
        font-size: 4rem;
    }

    footer {
        height: 70vh;
    }

    #instagram {
        margin-top: 5vw;
        margin-left: -5vw;
    }

    #location {
        margin-left: 3vw;
    }


    #openingHours {
        margin-left: 1.5vw;
    }

    #laura {
        margin-top: 10vw;
        margin-bottom: 5vw;
    }

    #txtMe {
        margin-left: 0;
        margin-right: 0;
    }

    .dropbtn {
        padding-right: 0.5vw;
        padding-left: 0.5vw;
        padding-bottom: 1vw;
        padding-top: 1vw;
    }

    button {
        width: 30vw;
    }

    .dropdown1 {
        margin-top: 5vw;
    }

    .dropdown2 {
        margin-top: 5vw;
    }

    .tegninger {
        margin-top: 10vw;
        margin-right: 5vw;
        margin-left: 5vw;
        justify-content: center;
    }

    .billede {
        margin: 0;
        width: 80vw;
        padding: 0vw;
    }

    .kategori {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .infoBox {
        width: 60vw;
        margin-left: -2vw;
        margin-top: 2vw;
    }

    .feedPic {
        align-content: center;
        max-width: 40vw;
        max-height: 50vh;
    }

    .moreInstagram {
        width: 80vw;
    }

    .drawingTxt {
        margin: 2vw;
        text-align: center;
    }

    #laura {
        width: 70vw;
    }

    #laura2 {
        width: 70vw;
        margin-top: 0vw;
    }

    .buttonInstagram {
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    #txtMe {
        margin-left: 0;
        margin-right: 0;
    }

    #txtMe2 p {
        margin-right: 0;
    }

    #detalje .luk {
        width: 40vw;

    }

}
